@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  font-family: Inter;
  color: #27293f;
  box-sizing: border-box;
}

/* src/styles.css */
@layer components {
  /* Margin n Padding for components */
  .sectionLayout {
    @apply mx-auto py-32 max-w-7xl;
  }
  /* Margin n Padding for head elements in components */
  .elementLayout1 {
    @apply mx-auto px-3;
    @apply sm:px-10;
  }

  .elementLayout2 {
    @apply w-full mx-auto;
  }

  /* Backgrounds */
  .primBG {
    @apply bg-[#FAFAFA];
  }

  .gradientBG {
    @apply bg-gradient-to-r;
    @apply from-[#EEF4FF];
    @apply to-[#A7BEFA];
  }

  /* Typo */
  .h1T {
    @apply text-[2.5rem] text-[#000000] font-[700] leading-tight;
    @apply lg:text-[2.813rem];
    @apply xl:text-[3.125rem];
  }
  .h2T {
    @apply text-[2.188rem] text-[#000000] font-[700] leading-tight tracking-tight mt-1;
    @apply lg:text-[2.5rem];
    @apply xl:text-[2.813rem];
  }
  .h3T {
    @apply text-[1.875rem] text-[#000000] font-[700] leading-tight tracking-tighter;
    @apply lg:text-[2.188rem];
    @apply xl:text-[2.5rem];
  }
  .p1 {
    @apply text-[1.25rem] text-[#27293F] font-[700];
  }

  .p2 {
    @apply text-[0.875rem] text-[#27293F] font-[700];
  }
  .listP {
    @apply text-[0.75rem];
  }
  /* Buttons */
  .btnPrim {
    @apply bg-[#363ABF] border-[#C8D9FD] border-2 rounded-xl text-white;
  }
  .btnSecondary {
    @apply bg-[#FFFFFF] border-[#363ABF] border-2 rounded-xl text-[#363ABF];
  }
  .highlight {
    @apply text-[#363ABF];
  }

  /* Boxes */
  .primBox {
    @apply bg-[#EEF4FF] border-[#363ABF] border-2 rounded-xl text-[#27293F] p-7;
  }

  .primBox2 {
    @apply bg-[#EEF4FF] border-2 rounded-xl;
  }

  .secBox {
    @apply shadow-custom;
    @apply bg-white p-4 rounded;
  }

  .infoNotis {
    @apply bg-[#278EDD] border-[#146AB5] border-2 rounded-xl text-[#27293F];
  }

  .errorNotis {
    @apply bg-[#FEF2F2] border-[#F97070] border-2 rounded-xl text-[#27293F];
  }

  .conformationNotis {
    @apply bg-[#EFFDE8] border-[#46C61C] border-2 rounded-xl text-[#27293F];
  }
}

p {
  color: #4b5563;
}

:root {
  --light-main: #6576ef;
  --main-color: #363abf;
  --dark-main: #2f3480;

  --light-text: #d1d9ec;
  --medium-text: #8da1cd;
  --text-color: #27293f;

  --light-bg: #eef4ff;
  --main-bg: #f2f5fb;
  --dark-bg: #363abf;

  --border: #e1eafe;
}

/* CUSTOM CSS FOR UNDER 640 PX*/
@media (max-width: 640px) {
  input::placeholder {
    font-size: 12px; /* Adjust to your desired size */
    text-align: center;
  }
}

@layer utilities {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /** Inputfied */

  /** Position classes */
  .centerElements {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centerHorizontal {
    display: flex;
    align-items: center;
  }

  .centerStart {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .centerStartWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .centerEndWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .spreadCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .spreadStart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .twoColumn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    /* Width with Tailwind */
  }
}

/* HEADINGS */

.h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem;
  font-weight: 600;
}

.h2 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 600;
}

.h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

/** BG FOR THE HEADER ON THE HOMEPAGE */
.headerBg {
  background-image: url("./images/homeHeaderBG.svg"); /* Replace 'path-to-your-image.svg' with the actual path to your SVG image */
  background-size: contain;
  width: 100%;
  background-position: center;
}

/** POSITION SETTINGS FOR INFO BOXES ON HOME PAGE */
.xsRelative {
  position: relative;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Ger färg till inforutorna */
.infoContainer {
  background-color: white;
  border: #e3eafc 3px solid;
  padding: 12px;
  margin-bottom: 10px;
  height: 160px;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0px 36px 84px -65px rgba(54, 58, 191, 0.75);
  -webkit-box-shadow: 0px 36px 84px -65px rgba(54, 58, 191, 0.75);
  -moz-box-shadow: 0px 36px 84px -65px rgba(54, 58, 191, 0.75);
}

/** Box decorations */
.dataBox {
  background-color: #eef4ff;
  box-shadow: 0px 8px 9px -1px rgba(54, 58, 191, 0.17);
  -webkit-box-shadow: 0px 8px 9px -1px rgba(54, 58, 191, 0.17);
  -moz-box-shadow: 0px 8px 9px -1px rgba(54, 58, 191, 0.17);
  border-radius: 10px;
}

.infoboxes {
  background-color: var(--main-bg);
  border: 2px solid var(--border);
  border-radius: 10px;
}

.infoBox {
  width: 9rem;
  padding: 5px;
  background-color: var(--light-bg);
  border-radius: 5px;
  border: 2px solid #839af6;
  height: 200px;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.errorBox {
  background-color: #f2f5fb;
  border: 2px solid #839af6;
  border-radius: 10px;
}

/* ------------------------- */

/** Buttons */
/* Finns inga */

/* ----------------- */

.highlightBold {
  font-weight: 700;
  color: #363abf;
}

.a {
  font-family: open sans;
  color: #363abf;
}
/* ----------------- */

/* BOXSHADOWS */

.evenShadow {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
/* ----------------- */

/* Tables */
