@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  font-family: Inter;
  color: #27293f;
  box-sizing: border-box;
}

p {
  color: #4b5563;
}

:root {
  --light-main: #6576ef;
  --main-color: #363abf;
  --dark-main: #2f3480;

  --light-text: #d1d9ec;
  --medium-text: #8da1cd;
  --text-color: #27293f;

  --light-bg: #eef4ff;
  --main-bg: #f2f5fb;
  --dark-bg: #363abf;

  --border: #e1eafe;
}

/* CUSTOM CSS FOR UNDER 640 PX*/
@media (max-width: 640px) {
  input::placeholder {
    font-size: 12px; /* Adjust to your desired size */
    text-align: center;
  }
}

@layer utilities {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /** Inputfied */

  /** Position classes */
  .centerElements {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centerHorizontal {
    display: flex;
    align-items: center;
  }

  .centerStart {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .centerStartWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .centerEndWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .spreadCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .spreadStart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .twoColumn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    /* Width with Tailwind */
  }
}

/* HEADINGS */

.h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem;
  font-weight: 600;
}

.h2 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 600;
}

.h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

/** BG FOR THE HEADER ON THE HOMEPAGE */
.headerBg {
  background-image: url("./images/homeHeaderBG.svg"); /* Replace 'path-to-your-image.svg' with the actual path to your SVG image */
  background-size: contain;
  width: 100%;
  height: 500px;
  background-position: center;
}

/** POSITION SETTINGS FOR INFO BOXES ON HOME PAGE */
.xsRelative {
  position: relative;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Ger färg till inforutorna */
.infoContainer {
  background-color: white;
  border: #e3eafc 3px solid;
  padding: 12px;
  margin-bottom: 10px;
  height: 160px;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0px 36px 84px -65px rgba(54, 58, 191, 0.75);
  -webkit-box-shadow: 0px 36px 84px -65px rgba(54, 58, 191, 0.75);
  -moz-box-shadow: 0px 36px 84px -65px rgba(54, 58, 191, 0.75);
}

/** Box decorations */
.dataBox {
  background-color: #eef4ff;
  box-shadow: 0px 8px 9px -1px rgba(54, 58, 191, 0.17);
  -webkit-box-shadow: 0px 8px 9px -1px rgba(54, 58, 191, 0.17);
  -moz-box-shadow: 0px 8px 9px -1px rgba(54, 58, 191, 0.17);
  border-radius: 10px;
}

.infoboxes {
  background-color: var(--main-bg);
  border: 2px solid var(--border);
  border-radius: 10px;
}

.infoBox {
  width: 9rem;
  padding: 5px;
  background-color: var(--light-bg);
  border-radius: 5px;
  border: 2px solid #839af6;
  height: 200px;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.errorBox {
  background-color: #f2f5fb;
  border: 2px solid #839af6;
  border-radius: 10px;
}

/* ------------------------- */

/** Buttons */
/* Finns inga */

/* ----------------- */

.highlight {
  color: #363abf;
}

.highlightBold {
  font-weight: 700;
  color: #363abf;
}

.a {
  font-family: open sans;
  color: #363abf;
}
/* ----------------- */

/* BOXSHADOWS */

.evenShadow {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
/* ----------------- */
